@media only screen and (max-width: 992px){
    .about ul li .resources{
        margin-right: 28px;
    }
    .container{
        .logogo{
            img{
                margin-right: 29px;
            }
        }
    }
    .about ul li:nth-child(3){
        min-width: 68px;
    }
}
@media only screen and (max-width: 768px){
    .container{
        .logogo{
            img{
                margin-right: 10px;
            }
        }
    }
    .about ul li .solutions{
        margin-right: 10px;
    }
    .about ul li .products{
        margin-right: 10px;
    }
    .about ul li:nth-child(3){
        margin-right: 10px;
    }
    .about ul li:nth-child(4){
        margin-right: 10px;
    }
    .about ul li .resources{
        margin-right: 0px;
    }
    .email .open{
        padding-right: inherit;
    }
    .email .sign{
        padding-right: inherit;
    }
}
@media only screen and (max-width: 540px){
    .container{
        flex-direction: column;
        padding: 21px 29px 0 24px;
        .logogo{
            margin-bottom: 20px;
        }
        .email .open{
            padding-right: 26px;
        }
        .email .sign{
            padding-right: 26px;
        }
        .about{
            margin-bottom: 10px;
        }
    }

}
@media only screen and (max-width: 320px){
    .container{
    .about{
        margin-bottom: 52px;
        ul{
            flex-wrap: wrap;
        }
    }
    .email .open{
        padding-right: 15px;
        padding-left: 15px;
    }
}
}
@media only screen and (max-width: 280px){
    .container {
        .about {
            margin-bottom: 83px;

            ul {
                justify-content: center;
            }
        }
        .email .sign{
            padding-right: 15px;
            padding-left: 15px;
        }
        .email .contact{
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}